body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#foodForm {
  margin-top: 20px;
}

.ingredient-button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #4ca5af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ingredient-button.excluded {
  background-color: #f44336;
}

.ingredient-button.included {
  background-color: #8ff436;
}